basePath: /api/v1
definitions:
  dto.PayloadLogin:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  util.Meta:
    properties:
      code:
        type: integer
      message:
        type: string
      status:
        type: string
    type: object
  util.Response:
    properties:
      data: {}
      meta:
        $ref: '#/definitions/util.Meta'
    type: object
host: localhost:8080
info:
  contact:
    email: support@example.com
    name: API Support
  description: API for authentication & user service
  title: Clean Arch API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Login using email & password, record IP & User-Agent, and generate
        JWT session.
      parameters:
      - description: Login payload
        in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/dto.PayloadLogin'
      produces:
      - application/json
      responses:
        "200":
          description: Login success
          schema:
            $ref: '#/definitions/util.Response'
        "400":
          description: Invalid password or failed login
          schema:
            $ref: '#/definitions/util.Response'
        "422":
          description: Validation error
          schema:
            $ref: '#/definitions/util.Response'
      summary: Login user
      tags:
      - Auth
swagger: "2.0"
